.home {
    display: flex;
    .scan {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        .fingerprint {
            position: relative;
            width: 200px;
            height: 280px;
            background: url(../img/fingerPrint_01.png);
            background-size: 200px;
            &::before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: url(../img/fingerPrint_02.png);
                background-size: 200px;
                animation: animate 4s ease-in-out infinite;
            }
            &::after {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 8px;
                background: $color-main;
                border-radius: 8px;
                filter: drop-shadow( 0 0 20px $color-main) drop-shadow( 0 0 63px $color-main);
                animation: animate__line 4s ease-in-out infinite;
            }
        }
    }
}