.home {
    display: flex;
    .scan {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        .fingerprint {
            position: relative;
            width: 300px;
            height: 300px;
            background: url(../img/fingerPrint_01.png);
        }
    }
}