@keyframes iconProduct {
    0% {
        -webkit-transform: rotateX(0deg);
        transform: rotateX(0deg);
    }
    50% {
        -webkit-transform: rotateY(-360deg);
        transform: rotateY(-360deg);
    }
    100% {
        -webkit-transform: rotateX(0deg);
        transform: rotateX(0deg);
    }
}

@keyframes divProduct {
    0% {
        -webkit-transform: translateY(0%);
        transform: translateY(0%);
    }
    50% {
        -webkit-transform: translateY(-20%);
        transform: translateY(-20%);
    }
    100% {
        -webkit-transform: translateY(0%);
        transform: translateY(0%);
    }
}