$btn-color-linear:linear-gradient(#14ffe9, #ffeb3b, #ff00e0);
$title-color:#8b2637;
$decs-color:#a95467;
// Breakpoints
$breakpoints: ( "extra-large": 1124px, "large": 992px, "medium": 768px, "small": 576px);