@mixin styleText ($fs, $fw, $color) {
    font-size: $fs;
    font-weight: $fw;
    color: $color;
}

@mixin styleButton ($bg, $border, $radius, $pd){
    background: $bg;
    border: $border;
    border-radius: $radius;
    padding: $pd;
}

@mixin styleButtonHover ($bg, $border, $color){
    background: $bg;
    border: $border;
    color: $color;
}

@mixin responsive($screen){
    @if(map-has-key($map: $breakpoints, $key: $screen)){
        $value: map-get($map: $breakpoints, $key: $screen);
        @media screen and (max-width: $value){
            @content;
        }
    }
    @else{
        @warn 'màn hình không tồn tại'
    }
}