@import '../helpers/variable';
.btn__main {
    border: 1px solid;
    padding: 5px 10px;
    width: 100%;
    border-radius: 10px;
    border-color: #fff;
    color: #fff;
    font-size: 13px;
    width: 75px;
    display: block;
    transition: all .75s;
    text-align: center;
    i {
        color: #fff;
        transition: all .75s;
    }
    &:hover {
        background-color: #fff;
        color: #010101;
        i {
            color: #010101;
        }
    }
}