@import '../helpers/variable';
.btn__main {
    border: 1px solid;
    padding: 5px 10px;
    width: 100%;
    border-radius: 10px;
    border-color: #fff;
    color: #fff;
    font-size: 13px;
    width: 75px;
    display: block;
    transition: all .75s;
    text-align: center;
    font-weight: 600;
    i {
        color: #fff;
        transition: all .75s;
    }
    &:hover {
        background: rgba( 255, 255, 255, 0.6);
        box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37);
        color: #010101;
        i {
            color: #010101;
        }
    }
}