@import '../helpers/variable';
.card__main {
    .vCard {
        background: #010101;
        width: 200px;
        height: 300px;
        border-radius: 10px;
        box-shadow: 5px 5px 10px rgba(39, 38, 38, 0.666);
        position: relative;
        overflow: hidden;
        .card__img {
            padding: 15px;
            img {
                height: 185px;
                width: 100%;
                position: relative;
            }
        }
        .card__intro {
            text-align: center;
            position: absolute;
            bottom: 0;
            color: #fff;
            font-size: 13px;
            width: 100%;
            &__desc {
                p {
                    margin: 0;
                }
            }
        }
        .card__overlay {
            position: absolute;
            background: red;
            width: 100%;
            height: 100%;
            top: 0;
            background: rgba(0, 0, 0, 0.4);
            opacity: 0;
        }
        &::before {
            content: "";
            top: 0;
            left: -100%;
            width: 50%;
            height: 100%;
            position: absolute;
            background: linear-gradient(to right, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 0.3) 100%);
            transform: skew(-20deg);
            transition: all 0.75s;
        }
        &:hover {
             ::before {}
        }
    }
}