@import '../helpers/variable';
.card__main {
    .vCard {
        cursor: pointer;
        width: 200px;
        height: 300px;
        border-radius: 10px;
        position: relative;
        overflow: hidden;
        background: rgba( 255, 255, 255, 0.25);
        box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37);
        backdrop-filter: blur( 5.5px);
        border: 1px solid rgba( 255, 255, 255, 0.18);
        flex-wrap: wrap;
        .card__img {
            padding: 15px;
            img {
                height: 185px;
                width: 100%;
                position: relative;
            }
        }
        .card__intro {
            // backdrop-filter: blur( 7px);
            text-align: center;
            bottom: 0;
            color: #fff;
            font-size: 13px;
            width: 100%;
            &__title {
                color: $title-color;
                font-weight: bold;
            }
            &__price {
                color: $decs-color;
                font-size: 1.2em;
            }
        }
        .card__overlay {
            position: absolute;
            background: red;
            width: 100%;
            height: 100%;
            top: 0;
            background: rgba(0, 0, 0, 0.5);
            opacity: 0;
            transition: all 1s;
            .card__button {
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                &__see {
                    margin-bottom: 1.2em;
                    transform: translateY(-30px);
                    opacity: 0;
                    transition: all .75s;
                }
                &__add {
                    transform: translateY(30px);
                    opacity: 0;
                    transition: all .75s;
                }
            }
        }
        &::before {
            content: "";
            top: 0;
            left: -100%;
            width: 50%;
            height: 100%;
            position: absolute;
            background: linear-gradient(to right, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 0.3) 100%);
            transform: skew(-20deg);
            transition: all 0.75s;
        }
        &:hover {
            border: unset;
            &::before {
                left: 200%;
            }
            .card__overlay {
                opacity: 1;
                border: 1px solid rgba( 255, 255, 255, 0.18);
            }
            .card__button__see,
            .card__button__add {
                transform: translateY(0);
                opacity: 1;
            }
        }
    }
}