@import '../helpers/variable';
.card__main {
    .vCard {
        cursor: pointer;
        background: #010101;
        width: 200px;
        height: 300px;
        border-radius: 10px;
        box-shadow: 5px 5px 10px rgba(39, 38, 38, 0.666);
        position: relative;
        overflow: hidden;
        // display: flex;
        // justify-content: center;
        // align-items: center;
        .card__img {
            padding: 15px;
            img {
                height: 185px;
                width: 100%;
                position: relative;
            }
        }
        .card__intro {
            text-align: center;
            position: absolute;
            bottom: 0;
            color: #fff;
            font-size: 13px;
            width: 100%;
            &__desc {
                p {
                    margin: 0;
                }
            }
        }
        .card__overlay {
            position: absolute;
            background: red;
            width: 100%;
            height: 100%;
            top: 0;
            background: rgba(0, 0, 0, 0.5);
            opacity: 0;
            transition: all .75s;
            .card__button {
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                &__see {
                    margin-bottom: 1.2em;
                    transform: translateY(-30px);
                    opacity: 0;
                    transition: all .75s;
                }
                &__add {
                    transform: translateY(30px);
                    opacity: 0;
                    transition: all .75s;
                }
            }
        }
        &::before {
            content: "";
            top: 0;
            left: -100%;
            width: 50%;
            height: 100%;
            position: absolute;
            background: linear-gradient(to right, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 0.3) 100%);
            transform: skew(-20deg);
            transition: all 0.75s;
        }
        &:hover {
            &::before {
                left: 200%;
            }
            .card__overlay {
                opacity: 1;
            }
            .card__button__see,
            .card__button__add {
                transform: translateY(0);
                opacity: 1;
            }
        }
        &::after {
            position: absolute;
            content: '';
            top: 0;
            right: 50%;
            transform: translateX(-50%);
            height: 100%;
            width: 100px;
            background: linear-gradient(#00ccff, #d400d4);
            // animation: animateborder 4s linear infinite;
        }
    }
}

@keyframes animateborder {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(350deg);
    }
}