@import '../helpers/variable';
header {
    .myNavBar {
        // position: absolute;
        // z-index: 1;
        // width: 100%;
        background: rgba( 255, 255, 255, 0.4);
        box-shadow: 0 8px 32px 0 rgba(149, 151, 173, 0.37);
        // backdrop-filter: blur( 4.5px);
        border-radius: 10px;
        border: 1px solid rgba( 255, 255, 255, 0.18);
        #selectPhone {
            border-radius: 5px;
            padding: 5px;
            width: 150px;
            border: 1px solid rgba( 255, 255, 255, 0.18);
            outline: none;
            background: rgba( 255, 255, 255, 0.4);
            font-weight: bold;
        }
        select::-ms-expand {
            display: none;
        }
    }
}