@import '../helpers/variable';
.product {
    position: relative;
    padding-top: 30px;
    &__title {
        color: $title-color;
        font-weight: 400;
    }
    .card__main {
        display: flex;
        position: absolute;
        width: 90%;
        margin-left: 5%;
        display: flex;
        justify-content: space-evenly;
    }
    &__cart {
        &__icon {
            position: relative;
            .btnCart {
                outline: none;
                width: 50px;
                height: 50px;
                border: none;
                border-radius: 5px;
                transition: all .5s;
                background: rgba(255, 255, 255, 0.4);
                border: 1px solid rgba(255, 255, 255, 0.18);
                i {
                    font-size: 25px;
                    color: $title-color;
                    transition: all .5s;
                }
                &:hover {
                    box-shadow: 0 8px 32px 0 rgba(79, 160, 207, 0.37);
                    background: $title-color;
                    i {
                        color: #fff;
                    }
                }
            }
            &__quantity {
                position: absolute;
                width: 30px;
                height: 30px;
                border-radius: 50%;
                background: rgba(209, 75, 75, 0.838) top: -10px;
                right: -15px;
                text-align: center;
            }
        }
    }
}