@import '../helpers/variable';
.product {
    position: relative;
    padding-top: 50px;
    .card__main {
        position: absolute;
        width: 90%;
        margin-left: 5%;
        display: flex;
        justify-content: space-evenly;
    }
}