// Reponsive
@include reponsive( "extra-large") {
    .product {
        .card__main {
            gap: 30px;
        }
    }
    // Modal see
    .modalSee {
        .modal-body {
            .infoPhone__row {
                .infoPhone__desc {
                    padding: 0;
                }
            }
        }
    }
}

@include reponsive("large") {
    .modalCart {
        .modal-dialog {
            max-width: 85% !important;
        }
    }
    // Modal see
    .modalSee {}
}

@include reponsive( "medium") {
    .modalCart {
        padding-right: 0 !important;
        .modal-dialog {
            max-width: 98% !important;
        }
    }
}

;
@include reponsive( "small") {
    header {
        .myNavBar {
            #navbarSupportedContent {
                width: 70% !important;
            }
        }
    }
    .modalCart {
        .modal-dialog {
            .modalCartTitleImg {
                display: none;
            }
            .modalCartImg {
                display: none;
            }
            .modal-body {
                #prCart {
                    .row {
                        font-size: 14px;
                    }
                }
            }
        }
    }
}